.loan-card {
  width: 650px;
  margin: 30px auto;
  padding: 20px;
}

.loan-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group.full-width {
  grid-column: span 2;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}

input, p-dropdown, p-autocomplete, textarea {
  width: 100% !important;
}

.disabled-input {
  background: #f3f3f3 !important;
  opacity: 0.9;
}

.submit-btn {
  grid-column: span 2;
  margin-top: 10px;
  padding: 12px !important;
  font-size: 16px;
  font-weight: 600;
}